@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Sans;
    background-color: rgb(245, 245, 245);
}

#checkout-container {
    padding: 60px 0;
}

#checkout-container > div {
    display: flex;
    justify-content: center;
}

#form {
    margin-right: 40px;
}

.checkout-title {
    margin-bottom: 40px;
}

label {
    display: inline-block;
    margin-bottom: 11px;
}

.input-field {
    display: flex;
    flex-direction: row-reverse;
}

.input-field i {
    align-self: center;
    margin-right: -7%;
    font-size: 13px;
    color: rgb(127, 129, 131);
}

input:not(input[type='checkbox']),
select {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 10px 10px 27px;
    border-radius: 5px;
    transition: box-shadow .3s ease-in;
}



input:not(input[type='checkbox']):focus,
select:focus {
    box-shadow: 0px 1px 5px 4px rgba(11, 15, 241, 0.3);
}


input::placeholder {
    position: relative;
    color: blue;
    margin-left: 30px;
}

form div {
    margin-bottom: 20px;
}

form p {
    margin-bottom: 13px;
    font-weight: bold;
}

form input[type='submit'] {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: blue;
    color: #fff;
    width: 50%;
}

/* Shopping Items */
#shopping-card {
    background-color: rgb(230 232 235);
    padding: 30px;
    border-radius: 5px;
    align-self: flex-start;
    box-shadow: 1px 3px 4px 4px rgb(0 0 0 / 12%);
}

.shopping-items {
    margin-bottom: 60px;
}

.shopping-item {
    display: flex;
}

.shopping-item > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-item:first-child {
    margin-bottom: 20px;
}

img {
    margin-right: 20px;
    height: 100px;
    border-radius: 5px;
}

/* .item-info {
    margin-bottom: 30px;
} */

.item-info p {
    margin-bottom: 8px;
}

.price span:first-child {
    color: rgba(235, 16, 82, 0.836);
}

.price span:first-child {
    margin-right: 10px;
}

.quantity {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.sign {
    background-color: blue;
    padding: 2px 5px;
}

.pricing > div {
    border-top: 1px solid black;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    #form {
        margin: 0;
    }

    #checkout-container > div {
        flex-direction: column-reverse;
        padding: 20px;
    }

    #shopping-card {
        margin-bottom: 40px;
        width: 100%;
    }

    input:not(input[type='checkbox']), select {
        padding: 10px 10px 10px 10%;
    }
}